<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>ログイン画面</h1>
  <style>
    body {
      width: 960px;
      margin: auto;
    }
    .large-text {
      font-size: 26px;
    }
  </style>
  {% if error != null %}
    <p style="color:red">{{error}}</p>
  {% endif %}
  {% if msg != null %}
    <p style="color:blue">{{msg}}</p>
  {% endif %}
  <form action="{{url_for('login')}}" method="post">
    <h3>ユーザ名:<input type="text"  style="width: 400px; height: 40px;"name="username" value="{{data.user_name if data is defined else ''}}"></h3>
    <h3>パスワード：<input type="password" style="width: 400px; height: 40px;" name="password" value="{{data.password if data is defined else ''}}"></h3>
    <button type="submit" style="width: 130px; height: 45px; font-size: 20px;">ログイン</button>
    <a class="large-text" href="{{url_for('register_form')}}">新規登録</a>
  </form>
</body>
</html>