<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ユーザ登録画面</h1>
    <style>
      body {
        width: 960px;
        margin: auto;
      }
    </style>
    {% if error != null %}
      <p style="color:red">{{error}}</p>
    {% endif %}
    <form action="{{url_for('register_exe')}}" method="post">
      <h3>ユーザ名:<input type="text" style="width: 400px; height: 40px;" name="username" value="{{user_name}}"></h3>
      <h3>パスワード：<input type="password" style="width: 400px; height: 40px;" name="password" value="{{password}}"></h3>
      <button type="submit" style="width: 60px; height: 45px; font-size: 20px;">登録</button>
    </form>
</body>
</html>