<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
    <body>
      <h1>図書管理システム</h1>
      <style>
        body {
          width: 960px;
          margin: auto;
        }
        .large-text {
          font-size: 20px;
        }
      </style>
            <a class="large-text" href="{{url_for('list')}}">一覧</a>
            <a class="large-text" href="{{url_for('register_library')}}">登録</a>
            <a class="large-text" href="{{url_for('delete_library')}}">削除</a>
            <a class="large-text" href="{{url_for('update_library')}}">更新</a>
            <a class="large-text" href="{{url_for('logout')}}">ログアウト</a>
</body>

  <h1>登録</h1>
  <form action="{{url_for('register_library_exe')}}"method="post">
    <h3>タイトル：<input type="text"name="title" style="width: 400px; height: 40px;"></h3>
    <h3>著者：<input type="text"name="author" style="width: 400px; height: 40px;"></h3>
    <h3>ISBN：<input type="text"name="isbn" style="width: 400px; height: 40px;"></h3>
    <button type="submit" style="width: 60px; height: 45px; font-size: 20px;">登録</button>
  </form>

</body>